<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facilities</title>
</head>

<body>
    {% for sport in sports %}
    <div class="sport">
        <h1>{{ sport.name }}</h1>
        <ul>
        {% for timing in sport.lt %}
            <li><span>{{ timing }}</span></li>
        {% endfor %}
        </ul>
        <a href="{{sport.url}}">Book Slot</a>
    </div>
    {%endfor%}

    {% for entry in Bookings %}
    <div class="bookings">
        <h1>entry</h1>
    {% endfor %}
    </div>

    
</body>
</html>