body{
     font-family: 'Montserrat-Black', sans-serif;
}

h2{
    font-family: 'Montserrat-Black', sans-serif;
    line-height: 1.25;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 30px;
}

.container-fluid{
    padding: 2% 5% 3% 5%;
    background-color:black;
    color:white;
}


#navbar{

   padding-top: 20px 0px;
   background-color: black;
}

.navbar-brand{
    font-family:'Ubuntu';
    font-size:1.5rem;
    padding: 0 50px;
}

.nav-link{
    font-size:1.2rem;
    font-family: 'Montserrat-Light';
}

.nav-item{
    padding:0 10px;
}